<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SOPHOS Labs Intelix Lookup</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
  </head>
  <body>
  <section class="section">
    <div class="container">
      <h1 class="title">
        Intelix Enrichment
      </h1>
      <p>
        For a JSON reponse you can use hxxp://example.com/lookup/$$ipAddress$$ or hxxp://example.com/lookup/$$sha256$$
      </p>
      <p>
        For a HTTP reponse you can use hxxp://example.com/lookup/ui/$$ipAddress$$ <ip> or hxxp://example.com/lookup/ui/$$sha256$$
      </p>
          Further information can be found at <a href="https://github.com/0xbennyv/intelix-livediscover-lookup">https://github.com/0xbennyv/intelix-livediscover-lookup</a>
      </p>
  </section>
  </body>
</html>